:root {
    --header-height: 70px;
    --primary-color: rgb(0, 162, 255);
    --secondary-color: rgb(245, 245, 245);
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

body {
    width: 100dvw;
    width: 100vw;

    background-color: var(--secondary-color);
    font-family: 'Rajdhani', sans-serif;
}

header {
    width: inherit;
    height: var(--header-height);
    padding: 5px 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    background-color: var(--primary-color);
    color: var(--secondary-color);
}

#options {
    height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    font-size: 1.2em;
    font-weight: 500;
}

#options label {
    white-space: nowrap;
}

#select-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

#select-difficulty {
    border: 1px solid var(--secondary-color);
    padding: 2px 5px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    cursor: pointer;

    font-size: 0.75em;
    font-family: inherit;

    transition: color 0.7s;
}

#select-difficulty:focus {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

#select-difficulty option {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

#btn-div {
    height: calc(100% - 10px);
    display: inline-flex;
}

#restart-btn, #mobile-mode-btn {
    border: 1px solid var(--secondary-color);
    padding: 0 20px;

    color: var(--secondary-color);
    background-color: var(--primary-color);
    cursor: pointer;
    transition: color 0.7s;
    transition: background-color 0.7s;

    font-size: 0.9em;
    font-family: inherit;
    font-weight: 600;
}

#restart-btn:hover, #mobile-mode-btn:hover {
    transition: color 0.7s;
    transition: background-color 0.7s;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

#flag-mode-btn {
    border: 1px solid black;
    padding: 10px 20px;
    margin-top: 10px;
    color: black;
    background-color: var(--secondary-color);
    cursor: pointer;

    font-size: 1em;
    font-family: inherit;
    font-weight: 600;

    transition: color 0.7s;
    transition: background-color 0.7s;

    display: none;
}

#mobile-mode-btn:hover {
    transition: color 0.7s;
    transition: background-color 0.7s;
}

#title {
    padding-right: 20px;
}

#title a {
    text-decoration: none;
    color: var(--secondary-color);
    transition: color 0.5s;
    font-weight: 500;
}

#title a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}

footer {
    width: inherit;
    height: calc(var(--header-height)/2);

    position: fixed;
    bottom: 0;

    background-color: var(--primary-color);
}

#times-div {
    padding: 10px 20px 40px 20px;
}

#best-times {
    list-style: none;
    counter-reset: item;
}

#best-times li {
    counter-increment: item;
    margin: 10px auto;
    background: linear-gradient(90deg,
            rgba(0, 162, 255, 0.15) 0%,
            var(--secondary-color));
    font-size: 1.1em;
    font-weight: 500;
}

#best-times li:before {
    width: 1.2em;
    margin-right: 10px;
    content: counter(item);
    display: inline-block;
    text-align: center;

    background: var(--primary-color);
    color: var(--secondary-color);
    font-weight: 600;
}

#best-times-label {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    color: var(--primary-color);
}

#best-times p {
    font-size: 1.2em;
    font-weight: 500;
}

#board-wrap {
    width: inherit;

    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

#stats {
    width: 100%;
    max-width: 480px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#stats p {
    font-weight: 600;
    font-size: 1.3em;
}

#board {
    width: fit-content;
    height: fit-content;
    margin-top: 5%;
    padding: 0.5em 1em 1em 1em;
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#minefield {
    padding: 2px;
    background-color: black;

    width: fit-content;
    display: grid;
    gap: 2px;

    user-select: none;
}

/*8x8*/
.beginner {
    grid-template-columns: repeat(8, 1fr);
}

/*16x16*/
.intermediate {
    grid-template-columns: repeat(16, 1fr);
}

/*30x16*/
.expert {
    grid-template-columns: repeat(30, 1fr);
}

.field {
    height: max(2vw, 25px);
    max-height: 35px;
    min-height: 20px;
    aspect-ratio: 1/1;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(90, 90, 90);
    font-weight: 700;
}

.field:hover {
    /* background-color: rgb(250, 250, 250); */
    cursor: pointer;
}

.field img {
    height: 1.2em;
}

.flag {
    background-color: red;
}

.uncertain {
    background-color: gold;
}

.bomb {
    background-color: red;
}

.clicked {
    background-color: rgb(220, 220, 220);
    cursor: default;
}

/* Styling for the numbers */

.bomb1 {
    color: blue;
}

.bomb2 {
    color: green;
}

.bomb3 {
    color: red;
}

.bomb4 {
    color: darkblue;
}

.bomb5 {
    color: brown;
}

.bomb6 {
    color: teal;
}

.bomb7 {
    color: black;
}

.bomb8 {
    color: darkgray;
}

/* ======== */

@media screen and (max-width: 510px) {
    :root {
        --header-height: 140px;
    }

    header {
        flex-direction: column;
    }

    #title {
        width: 290px;
    }

    #board {
        min-width: 240px;
    }


    .field {
        height: 8vw;
        min-height: 26px;
    }

    footer {
        height: calc(var(--header-height)/4);
    }

    @media screen and (max-height: 800px) {
        footer {
            position: static;
            justify-self: flex-end;
        }
    }
}

@media screen and (max-height: 550px) {
    body {
        height: auto;
    }

    #board-wrap {
        height: auto;
    }

    #stats {
        font-size: 0.8em;
    }

    .field {
        height: 2.6vw;
        max-height: 25px;
    }

    #board {
        margin-top: 5%;
    }

    footer {
        position: static;
    }
}